html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}
body {
  display: flex;
  flex-direction: column;
}
.header {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header h1 {
  margin: 0;
  flex-grow: 1;
  text-align: center;
}
.menu-button {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
}
.menu-button:hover {
  background-color: #e0e0e0;
}
.menu-button-line {
  width: 100%;
  height: 4px;
  background-color: #333;
  border-radius: 2px;
}
.main-menu {
  display: none;
  position: absolute;
  top: 50px; /* Adjust based on header height */
  left: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 5px;
  z-index: 1000;
  min-width: 150px;
}
.main-menu button {
  display: block;
  width: 100%;
  padding: 8px 12px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
}
.main-menu button:hover {
  background-color: #e0e0e0;
}

::selection {
  background: #800080; /* Purple */
  color: #ffffff;
}
::-moz-selection {
  background: #800080; /* Purple */
  color: #ffffff;
}
.content {
  flex-grow: 1;
  overflow-y: auto;
}
#editor {
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  border: none;
  outline: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.context-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 5px;
  z-index: 1000;
}
.context-menu button {
  display: block;
  width: 100%;
  padding: 8px 12px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
}
.context-menu button:hover {
  background-color: #e0e0e0;
}

.context-menu-icons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}
.context-menu-icons button {
  padding: 5px;
  width: auto;
}
.context-menu-icons img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}